
opencv-python~=4.5.1.48
Pillow~=8.1.1
numpy~=1.20.1
pip~=20.2.3
colorama~=0.4.4
Jinja2~=2.11.3
Werkzeug~=1.0.1
itsdangerous~=1.1.0
click~=7.1.2
python-dotenv~=0.15.0
setuptools~=49.2.1
pytz~=2021.1
MarkupSafe~=1.1.1
certifi~=2020.12.5
chardet~=4.0.0
urllib3~=1.26.3
six~=1.15.0
idna~=2.10
requests~=2.25.1
log3~=0.1.7