<!-- this notation is called Jinja2, a method of connecting Python code with HTML templates -->
{% extends "base.html" %}

{% block content %}

<div class="row" id="header">
    <div class="col">
        <!-- Double curly braces notation is like a print statement -->
        <h1>Here is your result for "{{search_term}}" ideas</h1>
    </div>
</div> <!-- End of first row div -->


<!-- Food Image -->
{% if food_img %}

<center><img src="{{food_img}}" max-height="450"></center>

{% else %}

<h2>Sorry, no food image</h2>

{% endif %}

<!-- Food Yelp Results -->
{% if food_yelp %}

<h2>{{food_yelp}}</h2>

{% else %}

<h2>Sorry, no local results to display</h2>

{% endif %}

<!-- Food Recipe Results -->
{% if recipe_title %}

<p>{{recipe_title}}</p>
<ul>
    {% for ingredient in recipe_ingredients %}
    <li>{{ingredient}}</li>
    {% endfor %}
</ul>
<ol>
    {% for instruction in recipe_instructions %}
    <li>{{instruction}}</li>
    {% endfor %}
</ol>

{% else %}

<h2>Sorry, no recipes to display</h2>

{% endif %}

<center><a href="http://127.0.0.1:5000/"><button class="btn btn-outline-dark">Search Again</button></a></center>

{% endblock %}