{% extends "base.html" %}

{% block content %}

<div class="container">
    
    <div class="row" id="header">
        <div class="p-3">
            <h1>What to Eat?</h1>
        </div>
    </div> <!-- End of first row div -->

    <h2>What are you in the mood for?</h2>
    
    <form action="/get-food" method="GET">
        <div class="center">
            <input type="search" id="food_input" name="food_input" placeholder="Search" required><br>
            <button type="submit" id="search_button" name="food_button" for="food_input" class="btn btn-outline-dark">Search</button>
        </div>
    </form>
    <script>
    // Adds listener to enter button to activate search 
    var searchButton = document.getElementById("food_input")
    searchButton.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("search_button").click();
    }
});
    </script>

</div> <!-- End of container div -->

{% endblock %}