{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row" id="header">
        <div class="p-3">
            <h1>What to Eat?</h1>
        </div>
    </div> <!-- End of first row div -->

    <h2>What are you in the mood for?</h2>
    
    <div>
        <input type="search" id="food_input" name="food_input" placeholder="Search" required>
        <button type="button" name="food_button" for="food_input" class="btn btn-outline-dark">Search</button>
    </div>
</div> <!-- End of container div -->


{% endblock %}